force-app/main/default/flows/Add_Chatter_Service_To_New_Groups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>Automatically adds the Event Bot service account to all newly created Chatter groups</description>
    <label>Add Chatter Service To New Groups</label>
    <formulas>
        <name>ServiceAccountUsername</name>
        <dataType>String</dataType>
        <expression>"eventbot@spokanemountaineers.org.smi"</expression>
    </formulas>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Account</name>
        <label>Get Service Account</label>
        <locationX>264</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAccountUsername</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordCreates>
        <name>Add_Service_Account_To_Group</name>
        <label>Add Service Account to Group</label>
        <locationX>264</locationX>
        <locationY>600</locationY>
        <inputReference>variable_group_member</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Account</targetReference>
        </connector>
        <object>CollaborationGroup</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>variable_group_member</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <decisions>
        <name>Service_Account_Found</name>
        <label>Service Account Found?</label>
        <locationX>264</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_Member_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <assignments>
        <name>Set_Group_Member_Fields</name>
        <label>Set Group Member Fields</label>
        <locationX>264</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>variable_group_member.CollaborationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_group_member.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_group_member.CollaborationRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Service_Account_To_Group</targetReference>
        </connector>
    </assignments>
</Flow>
