force-app/main/default/flows/Add_Federation_ID_to_All_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Federation_ID</name>
        <label>Assign Federation ID</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>federation_id_update_log.Old_Federation_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Users.FederationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Users.FederationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_federation_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_updated_users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Log_Record</name>
        <label>Create Log Record</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>federation_id_update_log.New_Federation_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_federation_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>federation_id_update_log.User_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>federation_id_update_log.Updated_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>federation_id_update_log.Username__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Users.Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>federation_id_update_logs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>federation_id_update_log</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Federation_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Log_Record_2</name>
        <label>Create Log Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>federation_id_update_log.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Records Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>federation_id_update_logs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>federation_id_update_log</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Log_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Records_Present</name>
        <label>Records Present?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Log_Record_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>Has_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Users</targetReference>
            </connector>
            <label>Has Records</label>
        </rules>
    </decisions>
    <description>This flow will iterate through all users and add a Federation ID if one is not present.</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_federation_id</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
  IF(
    CONTAINS({!Loop_Through_Users.Username}, &quot;.smi&quot;),
    LEFT({!Loop_Through_Users.Username}, FIND(&quot;.smi&quot;, {!Loop_Through_Users.Username}) - 1),
    {!Loop_Through_Users.Username}
  ),
  &quot;@&quot;,
  &quot;_&quot;
) &amp; &quot;@spokanemountaineers.org&quot;</expression>
    </formulas>
    <interviewLabel>Add Federation ID to All Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Federation ID to All Users</label>
    <loops>
        <name>Loop_Through_Users</name>
        <label>Loop Through Users</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>User_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Log_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_User_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Log_Records</name>
        <label>Create Log Records</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <inputReference>federation_id_update_logs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>User_Records</name>
        <label>User Records</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserPermissionsSFContentUser</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>25.0</numberValue>
        </limit>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Records</name>
        <label>Update User Records</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Create_Log_Records</targetReference>
        </connector>
        <inputReference>variable_updated_users</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Records</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>federation_id_update_log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FederationIDUpdateLog__c</objectType>
    </variables>
    <variables>
        <name>federation_id_update_logs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FederationIDUpdateLog__c</objectType>
    </variables>
    <variables>
        <description>User records to be updated.</description>
        <name>variable_updated_users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
