force-app/main/default/flows/Community_Event_Registration_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Confirmation</name>
        <label>Send Confirmation</label>
        <locationX>1779</locationX>
        <locationY>251</locationY>
        <actionName>Event_Participant__c.Event_Registration_Confirmed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Event_Participant</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Event_Participant__c.Event_Registration_Confirmed</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Sends confirmation email</description>
        <name>Send_Email_confirmation</name>
        <label>Send Email confirmation</label>
        <locationX>1550</locationX>
        <locationY>1112</locationY>
        <actionName>Event_Participant__c.Event_Registration_Confirmed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Send_Confirmation</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Event_Participant__c.Event_Registration_Confirmed</nameSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Did_they_select_attending</name>
        <label>Did they select attending?</label>
        <locationX>1309</locationX>
        <locationY>732</locationY>
        <defaultConnector>
            <targetReference>Update_Event_Participant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pcs_EventRegistrationResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Attending</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Limit_been_hit_0</targetReference>
            </connector>
            <label>Attending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Event_Been_Approved</name>
        <label>Has Event Been Approved?</label>
        <locationX>632</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>Check_Back_Later</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Registration.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Event_Participant</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Limit_been_hit</name>
        <label>Has Limit been hit?</label>
        <locationX>1307</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>Create_Event_Participant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_already_hit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Registration.Number_Attending__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Event_Registration.Limit_of_Attendees__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_at_capacity</targetReference>
            </connector>
            <label>Limit already hit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Limit_been_hit_0</name>
        <label>Has Limit been hit?</label>
        <locationX>1550</locationX>
        <locationY>736</locationY>
        <defaultConnector>
            <targetReference>Update_Event_Participant_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_already_hit_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Registration.Number_Attending__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Event_Registration.Limit_of_Attendees__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event_Registration.Limit_of_Attendees__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_at_capacity</targetReference>
            </connector>
            <label>Limit already hit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Limit_0</name>
        <label>Is Limit 0</label>
        <locationX>1308</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Has_Limit_been_hit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Limit_is_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Registration.Limit_of_Attendees__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event_Registration.Limit_of_Attendees__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event_Participant</targetReference>
            </connector>
            <label>Limit is 0 or null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Event_Participant_Found</name>
        <label>Was Event Participant Found?</label>
        <locationX>942</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Participant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attendance_0</targetReference>
            </connector>
            <label>Found</label>
        </rules>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Participant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attendance</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <description>Added limit of attendees cap; Added email alerts</description>
    <dynamicChoiceSets>
        <name>pcs_EventRegistrationResponse</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Response__c</picklistField>
        <picklistObject>Event_Participant__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Community: Event Registration Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update your registration:</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Event_Participant</name>
        <label>Create Event Participant</label>
        <locationX>1546</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Send_Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Registration__c</field>
            <value>
                <elementReference>Get_Event_Registration.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>pcs_EventRegistrationResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>375</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Event_Registration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Participant</name>
        <label>Get Event Participant</label>
        <locationX>728</locationX>
        <locationY>499</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Event_Participant_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event_Registration.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event_Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Registration</name>
        <label>Get Event Registration</label>
        <locationX>551</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Event_Been_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventRegistration</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>226</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Event_Participant</name>
        <label>Update Event Participant</label>
        <locationX>1321</locationX>
        <locationY>924</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event_Participant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>pcs_EventRegistrationResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Participant__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event_Participant_0</name>
        <label>Update Event Participant</label>
        <locationX>1554</locationX>
        <locationY>925</locationY>
        <connector>
            <targetReference>Send_Email_confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event_Participant.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>pcs_EventRegistrationResponse</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Participant__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Attendance</name>
        <label>Attendance</label>
        <locationX>1136</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Limit_0</targetReference>
        </connector>
        <fields>
            <name>Event_Attendance</name>
            <choiceReferences>pcs_EventRegistrationResponse</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I&apos;m</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Attendance_0</name>
        <label>Attendance</label>
        <locationX>1137</locationX>
        <locationY>730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_they_select_attending</targetReference>
        </connector>
        <fields>
            <name>Event_Attendance_0</name>
            <choiceReferences>pcs_EventRegistrationResponse</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I&apos;m</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_Back_Later</name>
        <label>Check Back Later</label>
        <locationX>644</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>check_Back_Displaytext</name>
            <fieldText>&lt;p&gt;This event has not been approved for registration. Check back later to register.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Event_at_capacity</name>
        <label>Event at capacity</label>
        <locationX>1420</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Event_full</name>
            <fieldText>&lt;p&gt;This event has reached capacity. Please check in with the event leader with any questions or wait for a spot to open up.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>107</locationX>
        <locationY>295</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EventRegistration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
