force-app/main/default/flows/Create_New_Member_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Active_True</name>
        <label>Assign Active = True</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_User.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activate_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_User</name>
        <label>Existing User</label>
        <locationX>743</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Existing_User_Active</targetReference>
            </connector>
            <label>User Found</label>
        </rules>
        <rules>
            <name>User_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_User</targetReference>
            </connector>
            <label>User Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Existing_User_Active</name>
        <label>Is Existing User Active?</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_not_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pause_Before_User_Update</targetReference>
            </connector>
            <label>User is not Active</label>
        </rules>
    </decisions>
    <description>Pause Element Added</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_55minutesago</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (55/1440)</expression>
    </formulas>
    <formulas>
        <name>formula_alias</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Contact.FirstName},5)</expression>
    </formulas>
    <formulas>
        <description>Federation ID. As of April 2025 this is used with Google Workspace as the IdP.
A Google Workspace account will be created for every user in the &apos;IdP Only Users&apos; Organizational Unit in Google Workspace.
These users will not have login access to Google Workspace, but their accounts will be automatically created and deleted as users activate and deactivate.</description>
        <name>formula_federation_id</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
  LEFT({!formula_Username}, FIND(&quot;.smi&quot;, {!formula_Username}) - 1),
  &quot;@&quot;,
  &quot;_&quot;
) &amp; &quot;@spokanemountaineers.org&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_Username</name>
        <dataType>String</dataType>
        <expression>{!Get_Contact.Email}&amp;&quot;.smi&quot;</expression>
    </formulas>
    <interviewLabel>Create New Member User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Member User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_to_Clubwide_Group</name>
        <label>Add to Clubwide Group</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Add_to_Conservation_Group_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CollaborationGroupId</field>
            <value>
                <stringValue>0F91N000000m2j9SAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaborationRole</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>Create_User</elementReference>
            </value>
        </inputAssignments>
        <object>CollaborationGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_to_Conservation_Group_0</name>
        <label>Add to Conservation Group</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Call_CreateCalendarsForNewUser</targetReference>
        </connector>
        <inputAssignments>
            <field>CollaborationGroupId</field>
            <value>
                <stringValue>0F91N000000m2jESAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaborationRole</field>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>Create_User</elementReference>
            </value>
        </inputAssignments>
        <object>CollaborationGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_User</name>
        <label>Create User</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Add_to_Clubwide_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>formula_alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_Contact.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Get_Contact.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>ISO-8859-1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FederationIdentifier</field>
            <value>
                <elementReference>formula_federation_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Contact.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Get_Contact.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <stringValue>00e2G000001IWvoQAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Get_Contact.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_Contact.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/Los_Angeles</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsSFContentUser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>formula_Username</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>743</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>743</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_User</name>
        <label>Activate User</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <inputReference>Get_User</inputReference>
    </recordUpdates>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_CreateCalendarsForNewUser</name>
        <label>Call CreateCalendarsForNewUser</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <flowName>CreateCalendarsForNewUser</flowName>
        <inputAssignments>
            <name>varNewUserId</name>
            <value>
                <elementReference>Create_User</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>input_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause_Before_User_Update</name>
        <label>Pause Before User Update</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Assign_Active_True</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>formula_55minutesago</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause</label>
        </waitEvents>
    </waits>
</Flow>
