force-app/main/default/flows/CreateCalendarsForNewUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddNewRecordValueToAllRecords</name>
        <label>AddNewRecordValueToAllRecords</label>
        <locationX>456</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>AllNewCalenderViewRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCalendarRecordValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughCalendarViewConfigurationRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCalendarViewRecordValues</name>
        <label>SetCalendarViewRecordValues</label>
        <locationX>678</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>SingleCalendarRecordValues.Color</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughCalendarViewConfigurationRecords.Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCalendarRecordValues.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughCalendarViewConfigurationRecords.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCalendarRecordValues.SobjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Event_Registration__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCalendarRecordValues.StartField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Start__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCalendarRecordValues.EndField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>End__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCalendarRecordValues.DisplayField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCalendarRecordValues.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCalendarRecordValues.ListViewFilterId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughCalendarViewConfigurationRecords.Filtered_List_View_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddNewRecordValueToAllRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_User_Already_Have_Calendar</name>
        <label>Does User Already Have Calendar</label>
        <locationX>666</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>SetCalendarViewRecordValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Calendar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Existing_Calendar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughCalendarViewConfigurationRecords</targetReference>
            </connector>
            <label>Has Calendar</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_55minutesago</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (55/1440)</expression>
    </formulas>
    <interviewLabel>CreateCalendarsForNewUser {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateCalendarsForNewUser</label>
    <loops>
        <description>Loops through the Calendar View Configuration Records to get the record values.</description>
        <name>LoopThroughCalendarViewConfigurationRecords</name>
        <label>LoopThroughCalendarViewConfigurationRecords</label>
        <locationX>248</locationX>
        <locationY>400</locationY>
        <collectionReference>GetCalendarViewRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Existing_Calendar</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateAllRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAllRecords</name>
        <label>CreateAllRecords</label>
        <locationX>249</locationX>
        <locationY>619</locationY>
        <inputReference>AllNewCalenderViewRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Existing_Calendar</name>
        <label>Check for Existing Calendar</label>
        <locationX>491</locationX>
        <locationY>618</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_User_Already_Have_Calendar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ListViewFilterId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThroughCalendarViewConfigurationRecords.Filtered_List_View_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CalendarView</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the current names and colors from the calendar view configuration object.</description>
        <name>GetCalendarViewRecords</name>
        <label>GetCalendarViewRecords</label>
        <locationX>246</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughCalendarViewConfigurationRecords</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CalendarViewConfiguration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>120</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>Short_Pause</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllNewCalenderViewRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CalendarView</objectType>
    </variables>
    <variables>
        <name>SingleCalendarRecordValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CalendarView</objectType>
    </variables>
    <variables>
        <description>This is the id of the new user created.</description>
        <name>varNewUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Short_Pause</name>
        <label>Short Pause</label>
        <locationX>50</locationX>
        <locationY>186</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>X5_Minutes</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetCalendarViewRecords</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>formula_55minutesago</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>5 Minutes</label>
        </waitEvents>
    </waits>
</Flow>
