force-app/main/default/flows/Delete_Federation_ID_From_100_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Empty_Federation_ID</name>
        <label>Assign Empty Federation ID</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Remove_Federation_ID.FederationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_updated_users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Remove_Federation_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Federation_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Log_Record</name>
        <label>Create Log Record</label>
        <locationX>138</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>variable_remove_federation_id_log.Old_Federation_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Federation_ID.FederationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_remove_federation_id_log.User_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Federation_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_remove_federation_id_log.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Federation_ID.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_remove_federation_id_log.Updated_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_remove_federation_id_logs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>variable_remove_federation_id_log</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Empty_Federation_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Log_Record_2</name>
        <label>Create Log Record</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>variable_remove_federation_id_log.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Records To Remove</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_remove_federation_id_logs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>variable_remove_federation_id_log</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Log_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Records_Present</name>
        <label>Records Present?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Create_Log_Record_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>Has_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pull_Users_Without_Federation_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Federation_ID</targetReference>
            </connector>
            <label>Has Records</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Delete Federation ID From 100 Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Federation ID From 25 Users</label>
    <loops>
        <name>Remove_Federation_ID</name>
        <label>Remove Federation ID</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>Pull_Users_Without_Federation_ID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Log_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_User_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Log_Records</name>
        <label>Create Log Records</label>
        <locationX>182</locationX>
        <locationY>1068</locationY>
        <inputReference>variable_remove_federation_id_logs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Pull_Users_Without_Federation_ID</name>
        <label>Pull Users Without Federation ID</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>25.0</numberValue>
        </limit>
        <object>User</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Records</name>
        <label>Update User Records</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>Create_Log_Records</targetReference>
        </connector>
        <inputReference>variable_updated_users</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pull_Users_Without_Federation_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-27</startDate>
            <startTime>03:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>variable_federation_id_update_logs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FederationIDUpdateLog__c</objectType>
    </variables>
    <variables>
        <name>variable_remove_federation_id_log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Remove_Federation_ID__c</objectType>
    </variables>
    <variables>
        <description>Record Collection of Remove Federation ID Logs</description>
        <name>variable_remove_federation_id_logs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Remove_Federation_ID__c</objectType>
    </variables>
    <variables>
        <name>variable_updated_users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
