force-app/main/default/flows/Event_Registration_Add_Leader_as_Participant_on_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>Event Registration: Add Leader as Participant on Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Registration: Add Leader as Participant on Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Participant_Record_for_Leader</name>
        <label>Create Participant Record for Leader</label>
        <locationX>589</locationX>
        <locationY>145</locationY>
        <connector>
            <targetReference>Update_Parent_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Leader__r.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Registration__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <stringValue>Attending</stringValue>
            </value>
        </inputAssignments>
        <object>Event_Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Parent_Event</name>
        <label>Update Parent Event</label>
        <locationX>836</locationX>
        <locationY>152</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Event_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Register_Here__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Participant_Record_for_Leader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Leader__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Event_Registration__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
