force-app/main/default/flows/Membership_Expiration_Reminder_Triggers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_0_Day_Reminder</name>
        <label>Send 0-Day Reminder</label>
        <locationX>729</locationX>
        <locationY>302</locationY>
        <actionName>Contact.X0_Day_Membership_Expiration_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Activity_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.X0_Day_Membership_Expiration_Reminder</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_15_Day_Reminder</name>
        <label>Send 15-Day Reminder</label>
        <locationX>831</locationX>
        <locationY>460</locationY>
        <actionName>Contact.X15_Day_Membership_Expiration_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Activity_Log_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.X15_Day_Membership_Expiration_Reminder</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_30_Day_Reminder</name>
        <label>Send 30-Day Reminder</label>
        <locationX>735</locationX>
        <locationY>635</locationY>
        <actionName>Contact.X30_Day_Membership_Expiration_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Activity_Log_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.X30_Day_Membership_Expiration_Reminder</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Membership_Ending</name>
        <label>Membership Ending</label>
        <locationX>512</locationX>
        <locationY>461</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npo02__MembershipEndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>f_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_0_Day_Reminder</targetReference>
            </connector>
            <label>Today</label>
        </rules>
        <rules>
            <name>In_15_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npo02__MembershipEndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>f_15Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_15_Day_Reminder</targetReference>
            </connector>
            <label>In 15 Days</label>
        </rules>
        <rules>
            <name>In_30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npo02__MembershipEndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>f_30days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_30_Day_Reminder</targetReference>
            </connector>
            <label>In 30 Days</label>
        </rules>
    </decisions>
    <formulas>
        <name>f_15Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 15</expression>
    </formulas>
    <formulas>
        <name>f_30days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>f_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Membership Expiration Reminder Triggers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership Expiration Reminder Triggers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Activity_Log</name>
        <label>Activity Log</label>
        <locationX>894</locationX>
        <locationY>302</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052G000005U3IYQA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>0-day Membership Expiration Reminder Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Activity_Log_0</name>
        <label>Activity Log</label>
        <locationX>956</locationX>
        <locationY>460</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052G000005U3IYQA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>15-day Membership Expiration Reminder Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Activity_Log_0_0</name>
        <label>Activity Log</label>
        <locationX>866</locationX>
        <locationY>635</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052G000005U3IYQA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>30-day Membership Expiration Reminder Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>51</locationX>
        <locationY>380</locationY>
        <connector>
            <targetReference>Membership_Ending</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Member_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-10-07</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
