force-app/main/default/flows/Membership_Daily_Check_for_Deactivation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_the_Opp_a_Membership</name>
        <label>Is the Opp a Membership?</label>
        <locationX>161</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Membership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_today_between_membership_dates</targetReference>
            </connector>
            <label>Is Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_another_active_membership</name>
        <label>Is there another active membership?</label>
        <locationX>904</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Another_Active_Membership_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Active_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Another Active Membership Found</label>
        </rules>
        <rules>
            <name>No_Other_Active_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Active_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_User</targetReference>
            </connector>
            <label>No Other Active Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_today_between_membership_dates</name>
        <label>Is today between membership dates?</label>
        <locationX>389</locationX>
        <locationY>374</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Membership_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>f_Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__Membership_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>f_Today</elementReference>
                </rightValue>
            </conditions>
            <label>Active Membership</label>
        </rules>
        <rules>
            <name>Inactive_Membership</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Membership_Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>f_Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__Membership_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>f_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_Active_Opportunities</targetReference>
            </connector>
            <label>Inactive Membership</label>
        </rules>
    </decisions>
    <formulas>
        <name>f_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Membership: Daily Check for Deactivation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership: Daily Check for Deactivation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Other_Active_Opportunities</name>
        <label>Get Other Active Membership</label>
        <locationX>708</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_another_active_membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe01__Membership_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__Membership_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_User</name>
        <label>Deactivate User</label>
        <locationX>1237</locationX>
        <locationY>373</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>44</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Is_the_Opp_a_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121N000001Wf9rQAC</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-09-01</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
