force-app/main/default/flows/Opportunities_Update_Memberships_on_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Does_Membership_Date_Need_Updated</name>
        <label>Does Membership Date Need Updated?</label>
        <locationX>689</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>Is_membership_regular</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npe01__Membership_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Membership_on_New_Opp_Today</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_membership_regular</name>
        <label>Is membership &apos;regular&apos;?</label>
        <locationX>936</locationX>
        <locationY>448</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Regular_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Designation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A regular member</stringValue>
                </rightValue>
            </conditions>
            <label>Regular Member</label>
        </rules>
        <rules>
            <name>Not_Regular_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Designation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>A regular member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Designation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Not Regular Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_existing_Active_Membership</name>
        <label>Is there an existing Active Membership?</label>
        <locationX>428</locationX>
        <locationY>443</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Active_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Membership_with_the_same_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_Membership_on_New_Opp_after_Currently_Active</targetReference>
            </connector>
            <label>Existing Active Membership</label>
        </rules>
        <rules>
            <name>No_Existing_Active_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Membership_with_the_same_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Membership_Date_Need_Updated</targetReference>
            </connector>
            <label>No Existing Active Memberships</label>
        </rules>
    </decisions>
    <description>This flow updates the record type for opportunities created by Donorbox, adds membership start and end dates, and kicks off the flow that creates new users. Added task for non-regular members. This version removes the Create User Subflow.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_previousEndDatePlus1Year</name>
        <dataType>Date</dataType>
        <expression>{!Get_Other_Membership_with_the_same_Contact.npe01__Membership_End_Date__c} + 365</expression>
    </formulas>
    <formulas>
        <name>f_previousStartDatePlus1Year</name>
        <dataType>Date</dataType>
        <expression>{!Get_Other_Membership_with_the_same_Contact.npe01__Membership_Start_Date__c} +365</expression>
    </formulas>
    <formulas>
        <name>f_tasksubject</name>
        <dataType>String</dataType>
        <expression>&quot;New &quot; &amp; TEXT({!$Record.Designation__c})</expression>
    </formulas>
    <formulas>
        <name>f_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>f_TodayPlus1Year</name>
        <dataType>Date</dataType>
        <expression>TODAY()+365</expression>
    </formulas>
    <interviewLabel>Opportunities: Update Memberships on Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunities: Update Memberships on Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Task</name>
        <label>New Task</label>
        <locationX>1144</locationX>
        <locationY>248</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>f_tasksubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Other_Membership_with_the_same_Contact</name>
        <label>Get Other Membership with the same Contact</label>
        <locationX>172</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_existing_Active_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121N000001Wf9rQAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__Membership_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>npe01__Membership_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>npe01__Membership_End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>941</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full CRM Users</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Start_Membership_on_New_Opp_after_Currently_Active</name>
        <label>Start Membership on New Opp after Currently Active</label>
        <locationX>706</locationX>
        <locationY>293</locationY>
        <connector>
            <targetReference>Is_membership_regular</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001Wf9rQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Member_Level__c</field>
            <value>
                <elementReference>$Record.Designation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_End_Date__c</field>
            <value>
                <elementReference>f_previousEndDatePlus1Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_Start_Date__c</field>
            <value>
                <elementReference>f_previousStartDatePlus1Year</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Start_Membership_on_New_Opp_Today</name>
        <label>Start Membership on New Opp Today</label>
        <locationX>699</locationX>
        <locationY>626</locationY>
        <connector>
            <targetReference>Is_membership_regular</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121N000001Wf9rQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Member_Level__c</field>
            <value>
                <elementReference>$Record.Designation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_End_Date__c</field>
            <value>
                <elementReference>f_TodayPlus1Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_Start_Date__c</field>
            <value>
                <elementReference>f_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>45</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Other_Membership_with_the_same_Contact</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 OR ((2 AND 3) AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10))</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121N000001Wf9rQAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Donation_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121N000001Wf9oQAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Designation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A regular member</stringValue>
            </value>
        </filters>
        <filters>
            <field>Designation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>15-17 years old</stringValue>
            </value>
        </filters>
        <filters>
            <field>Designation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Living with a Regular Member</stringValue>
            </value>
        </filters>
        <filters>
            <field>Designation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Currently enrolled college student</stringValue>
            </value>
        </filters>
        <filters>
            <field>Designation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active Duty military</stringValue>
            </value>
        </filters>
        <filters>
            <field>Designation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>More than 90 miles from Spokane</stringValue>
            </value>
        </filters>
        <filters>
            <field>Designation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>67 years old or older at sign up or renewal</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
