force-app/main/default/flows/Remove_Members_From_Conservation_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>variable_conservation_group_membership_log.Username__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_conservation_group_membership_log.User_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_conservation_group_membership_log.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.UserRoleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_conservation_group_membership_log.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Removing From Conservation Group</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_conservation_group_membership_logs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>variable_conservation_group_membership_log</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Queue_Record_For_Delete</name>
        <label>Queue Record For Delete</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>variable_collaboration_group_members</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Group_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Log</targetReference>
        </connector>
    </assignments>
    <description>Removing four members from conservation group.</description>
    <environments>Default</environments>
    <interviewLabel>Remove Members From Conservation Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Members From Conservation Group</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Queue_Record_For_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Members_From_Conservation_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Logs</name>
        <label>Create Logs</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <inputReference>variable_conservation_group_membership_logs</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Members_From_Conservation_Group</name>
        <label>Remove Members From Conservation Group</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Create_Logs</targetReference>
        </connector>
        <inputReference>variable_collaboration_group_members</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Group_Record</name>
        <label>Get Group Record</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Members</name>
        <label>Get Members</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005Um000000WlS1IAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0052G00000AVwneQAD</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0052G00000AVw8PQAT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0052G00000AVuIlQAL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Members</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>variable_collaboration_group_members</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <name>variable_conservation_group_membership_log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conservation_Group_Membership_Log__c</objectType>
    </variables>
    <variables>
        <name>variable_conservation_group_membership_logs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conservation_Group_Membership_Log__c</objectType>
    </variables>
</Flow>
