force-app/main/default/flows/Scheduled_Add_Members_To_Conservation_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Create_Group_Record</name>
        <label>Create Group Record</label>
        <locationX>264</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>variable_collaboration_group_member.CollaborationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F91N000000m2jESAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_collaboration_group_member.CollaborationRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_collaboration_group_member.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Members.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_collaboration_group_members</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>variable_collaboration_group_member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Log</name>
        <label>Create Log</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>variable_conservation_log.User_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Members.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_conservation_log.Username__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Members.Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_conservation_log.Updated_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_conservation_log.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Members.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_conservation_log.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Added To Conservation Group</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_conservation_log.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_conservation_log.Group_Member_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>variable_collaboration_group_member.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_conservation_group_logs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>variable_conservation_log</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Group_Record</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Member_Group_Record</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Member Group Record</label>
        <locationX>396</locationX>
        <locationY>576</locationY>
        <assignNextValueToReference>currentItem_Member_Group_Record</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Conservation_Group_Member_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Member_Group_Record.MemberId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Through_Members.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Member_in_Group</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Member_in_Group</name>
        <label>Member in Group?</label>
        <locationX>396</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already a Member</defaultConnectorLabel>
        <rules>
            <name>Not_a_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Member_Group_Record</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Log</targetReference>
            </connector>
            <label>Not a Member</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Add All Members To Conservation Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled: Add Members To Conservation Group</label>
    <loops>
        <name>Loop_Through_Members</name>
        <label>Loop Through Members</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_User_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Member_Group_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Group_Member_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Group_Member_Records</name>
        <label>Create Group Member Records</label>
        <locationX>176</locationX>
        <locationY>1176</locationY>
        <connector>
            <targetReference>Create_Log_Records</targetReference>
        </connector>
        <inputReference>variable_collaboration_group_members</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Log_Records</name>
        <label>Create Log Records</label>
        <locationX>176</locationX>
        <locationY>1284</locationY>
        <inputReference>variable_conservation_group_logs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Conservation_Group_Member_Records</name>
        <label>Get Conservation Group Member Records</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CollaborationGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0F91N000000m2jESAQ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CollaborationGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all Community User Member Records.</description>
        <name>Get_User_Records</name>
        <label>Get User Records</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Members</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Portal User</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PowerCustomerSuccess</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PowerPartner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Conservation_Group_Member_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-30</startDate>
            <startTime>04:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Member_Group_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <name>variable_collaboration_group_member</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <name>variable_collaboration_group_members</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CollaborationGroupMember</objectType>
    </variables>
    <variables>
        <description>Conservation Group Membership Logs</description>
        <name>variable_conservation_group_logs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conservation_Group_Membership_Log__c</objectType>
    </variables>
    <variables>
        <description>Conservation Group Membership Log</description>
        <name>variable_conservation_log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Conservation_Group_Membership_Log__c</objectType>
    </variables>
</Flow>
