force-app/main/default/flows/Sync_Users_to_Google_Workspace.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send all User Records to Google Workspace Apps Scripts</description>
        <name>POST_User_Records_To_Google_Workspace</name>
        <label>POST User Records To Google Workspace</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <actionName>GASUserSyncFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>users</name>
            <value>
                <elementReference>variable_user_sync_inputs</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GASUserSyncFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_UserSyncInput_Record</name>
        <label>Add UserSyncInput Record</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>variable_user_sync_input.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Member_Records.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_user_sync_input.federation_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Member_Records.FederationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_user_sync_input.first_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Member_Records.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_user_sync_input.last_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Member_Records.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>variable_user_sync_inputs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>variable_user_sync_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Member_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_Log</name>
        <label>Fault Log</label>
        <locationX>440</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>variable_google_workspace_sync_log.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to sync payload to Google Workspace</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Log_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Success_Log</name>
        <label>Success Log</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>variable_google_workspace_sync_log.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Successfully Sent Payload to Google Workspace</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Log_Record</targetReference>
        </connector>
    </assignments>
    <description>This flow will collect all Active club members and send that list to Google App Script (IdP Only Users: https://script.google.com/home/projects/1kuIeQRBWuEWZ6z-gzwAjzdQxdwtMMm9E33D78zTiXed4InyfyPEy18my) to create a Google Workspace account for identity management.</description>
    <environments>Default</environments>
    <interviewLabel>Sync Users to Google Workspace {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Users to Google Workspace</label>
    <loops>
        <name>Create_Member_Records</name>
        <label>Create Member Records</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Member_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_UserSyncInput_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>POST_User_Records_To_Google_Workspace</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Log_Record</name>
        <label>Create Log Record</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <inputReference>variable_google_workspace_sync_log</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Member_Records</name>
        <label>Get Member Records</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Member_Records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND (5 OR 6)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PowerCustomerSuccess</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PowerPartner</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerSuccess</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0052G00000AVquPQAT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005Um000000IGmHIAW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Member_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-05-05</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>variable_google_workspace_sync_log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Google_Workspace_User_Sync_Log__c</objectType>
    </variables>
    <variables>
        <name>variable_google_workspace_sync_logs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Google_Workspace_User_Sync_Log__c</objectType>
    </variables>
    <variables>
        <name>variable_user_sync_input</name>
        <apexClass>UserSyncInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>variable_user_sync_inputs</name>
        <apexClass>UserSyncInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
